<tbody>
                   
  
</tbody>

</table>
<div class="col-sm-9 ">
<label >Total:</label>
<input type="text" name="TotalPrestation"  class="form-control-sm" disabled>
</div>

</div>

</body>
</html>