<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="src/assets/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="src/assets/css/bootstrap.css"> 
    </head>

    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a href="/" class="navbar-brand"> Medecin</a>
            


        </nav>