<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="/css/bootstrap.css"> 
    </head>

    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a href="/" class="navbar-brand"> Medecin</a>
            <a href="/patient" class="navbar-brand">Patient</a>
            <a href="/traitement" class="navbar-brand">Traitement</a>
            <a href="/autre" class="navbar-brand">Prestation</a>   
        </nav>
        <div class="container">
            

            <form action="/patient/updateP/<%= data.idPatient%>" method="post">
               
                <div class="form-group">
                    <input type="text" name="nomPatient" value="<%= data.nomPatient %>" class="form-control">

                </div>
                <div class="form-group">
                    <input type="text" name="adress" value="<%= data.adress %>" class="form-control">

                </div>
                <div class="form-group">
                    <input type="text" name="numPatient" value="<%= data.numPatient %>" class="form-control">

                </div>
                <button type="submit" class="btn btn-primary">Enregistrement</button>
            </form>

        </body>
</html>